body {
  font-family: "Roboto";
}

:root {
  background-color: #c8e6c9
}

.App {
  text-align: center;
  
}

.App-header {
  /* background-color: #033076; */
  background-color: #ffc107;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.card {
  margin: auto;
  margin-top: 50px;
}

.navLink {
  padding: 25px;
}

h1, h3, h4 { 
  color: #2e7d32}

Button {
  margin-left: 15px;
}

h2 {
  color: #388e3c
}




